div {
  background-color: lightblue;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #603601;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', serif;
  text-align: center;
  color: #361500;
}

h2 {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #603601;
}

h3 {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #603601;
}

hr {
  border-style: dotted none none none;
  border-color: #361500;
  border-width: 5px;
  background-color: lightblue;
  height: 1px;
  width: 5%;
}

a {
  color: #247881;
}

p {}

.center {
  margin-left: auto;
  margin-right: auto;
}

.top-container {
  background-color: lightblue;
  position: relative;
  padding: 100px;
}

.middle-container {}

.bottom-container {}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 25%;
  top: 0;
}

.bottom-cloud {
  position: absolute;
}

.mountain {
  padding-bottom: 0;
}
